<ion-view style="background-color: #e4e5e7" title="Dashboard">
 <ion-header-bar class="bar-positive" align-title="center">
  </ion-header-bar>
  <ion-content>
<!--    <ion-list>
      <ion-item class="item item-icon-right" ui-sref="faculty">Faculties<i style="font-size: 20px; color:#808080;" class="icon ion-chevron-right"></i></ion-item>
      <ion-item class="item item-icon-right" ui-sref="department">Departments<i style="font-size: 20px; color:#808080;" class="icon ion-chevron-right"></i></ion-item>
      <ion-items class="item item-icon-right" ui-sref="designation">Designations<i style="font-size: 20px; color:#808080;" class="icon ion-chevron-right"></i></ion-items>
      <ion-item class="item item-icon-right" ui-sref="category">Groups<i style="font-size: 20px; color:#808080;" class="icon ion-chevron-right"></i></ion-item>
    </ion-list>-->
    <div class="row">
      <div class="col" ui-sref="faculty"><p></p><br /><i class="icon icon_admin ion-university"></i><h4 class="admin">Faculty</h4></div>
      <div class="col" ui-sref="department"><p></p><br /><i class="icon icon_admin ion-ios-settings-strong"></i><h4 class="admin">Departments</h4></div>
    </div>
    <div class="row">
      <div class="col" ui-sref="designation"><p></p><br /><i class="icon icon_admin ion-ribbon-b"></i><h4 class="admin">Designations</h4></div>
      <div class="col" ui-sref="category"><p></p><br /><i class="icon icon_admin ion-ios-people"></i><h4 class="admin">Groups</h4></div>
    </div>

  </ion-content>

</ion-view>

