<ion-view>
  <ion-header-bar class="item-borderless" style="background-color:  #e4e5e7"></ion-header-bar>

  <ion-content class="padding" style="background-color: #e4e5e7">
    <ion-list class="list list-borderless list-inset bg-color">
      <ion-item class="bg item item-image" >
        <img src="img/ned_app.png" alt="Ned_app">
      </ion-item>
      <ion-item class="item">
        <progress id="progressbar" max="100" value="{{ progressval }}"> </progress>
        <div style="text-align: center">{{ progressval }} %</div>
      </ion-item>

    </ion-list>
  </ion-content>

  <ion-footer-bar style="background-color:  #e4e5e7" class="bar-light item-borderless" align-title="center" >
    <div class="title font bar-footer"><b>Powered by
      Centre for Software Research & Development (CSRD)</b>
      <b>NED University</b></div>
  </ion-footer-bar>
</ion-view>



