 <ion-view style="background-color: #e4e5e7" hide-back-button="true" >
   <ion-content class="splash padding">
     <ion-list class="list list-borderless list-inset">
       <ion-item class="item item-image" >
         <img ng-src="img/rsz_nedmeetinglogo1.png" alt="Ned_app">
         <a class="button button-block button-positive " ui-sref="signIn">
             Log In
         </a>

         <a class="button button-block button-positive " ui-sref="data">
             Sign Up
         </a>
       </ion-item>

     </ion-list>
   </ion-content>

    <ion-footer-bar style="background-color:  #e4e5e7" class="bar-light item-borderless" align-title="center" >
      <div class="title font bar-footer"><b>Powered by
        Centre for Software Research & Development (CSRD)</b>
        <b>NED University</b></div>
    </ion-footer-bar>

  </ion-view>


