<ion-tabs class="tabs-positive tabs-icon-top " style="background-color: #e4e5e7">
  <ion-tab icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/tabs/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tabs/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-ios-email" icon-off="ion-ios-email-outline" href="#/tabs/notifications">
    <ion-nav-view name="tab-notifications"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-ios-people" icon-off="ion-ios-people-outline" href="#/tabs/scheduleMeeting">
    <ion-nav-view name="tab-meeting"></ion-nav-view>
  </ion-tab>
</ion-tabs>
